#movie-details-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--color-primary);
}

#movie-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  padding: 3%;
  border-radius: 15px;
  width: 70%;
  height: 100%;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}

#movie-details-render-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 3%;
    width: 94%;
    height: 100%;
  }

#movie-poster-container {
  display: inline;
  justify-content: left;
  align-items: center;
  padding-right: 5%;
}

#movie-poster-container img {
  border-radius: 15px;
}

#movie-screenign-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screening-list-item{
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    background-color: var(--color-primary);
    color: var(--color-tertiary);
}

.screening-list-item:hover{
    background-color: rgba(75, 16, 108, 0.9);
}

